<%= form_with model: @coffee_bar, local: true do |form| %>
 
  <% if @coffee_bar.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@coffee_bar.errors.count, "error") %> prohibited
        this coffee bar from being saved:
      </h2>
      <ul>
        <% @coffee_bar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  
  <p>
    <%= form.label :info %><br>
    <%= form.text_area :info %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
 
<% end %>